
@model ProyectoDeAula3.Models.IntegranteEquipo

<h2>Agregar Integrante al Equipo</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Codigo) 
    <div class="form-group">
        @Html.LabelFor(model => model.Identificacion, "Identificación", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Identificacion, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, "Nombre", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apellidos, "Apellidos", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Rol, "Rol", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Rol, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Agregar Integrante" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a Detalles", "Detalles", new { codigo = Model.Codigo }) 
</div>


