<a href="@Url.Action("IdeaConMayorImpacto", "IdeasDeNegocio")" class="btn btn-primary">Idea Con Mayor Impacto</a>
<h2></h2>
<a href="@Url.Action("IdeasConImpactoEnMasDe3Departamentos", "IdeasDeNegocio")" class="btn btn-primary">Ideas Con Impacto En Mas De 3 Departamentos</a>
<h2></h2>
<a href="@Url.Action("IdeasMasRentables", "IdeasDeNegocio")" class="btn btn-primary">Ideas Mas Rentables</a>
<h2></h2>
<a href="@Url.Action("IdeasConHerramientas4RI", "IdeasDeNegocio")" class="btn btn-primary">Idea Con Mayor Cantidad De Herramientas 4RI</a>
<h2></h2>
<a href="@Url.Action("IdeasDesarrolloSostenible", "IdeasDeNegocio")" class="btn btn-primary">Ideas con Desarrollo Sostenible</a>
<h2></h2>
<a href="@Url.Action("IdeasConFrasesEspecificas", "IdeasDeNegocio")" class="btn btn-primary">Ideas con "Territorios inteligentes","Transicion energetica"</a>
<h2></h2>
<a href="@Url.Action("IdeaConMayorInversionEnInfraestructura", "IdeasDeNegocio")" class="btn btn-primary">Idea Con Mayor Inversion En Infraestructura</a>